<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Authors</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
</head>
<body>
	<div th:fragment="footer">
		<form role="form" id="sendAddress" th:action=@{/authors} method="post">
			<select class="form-control" name="letterInPage">
				<option value="А">А</option>
				<option value="Б">Б</option>
				<option value="В">В</option>
				<option value="Г">Г</option>
				<option value="Д">Д</option>
				<option value="Е">Е</option>
				<option value="Ж">Ж</option>
				<option value="З">З</option>
				<option value="И">И</option>
				<option value="К">К</option>
				<option value="Л">Л</option>
				<option value="М">М</option>
				<option value="Н">Н</option>
				<option value="О">О</option>
				<option value="П">П</option>
				<option value="Р">Р</option>
				<option value="С">С</option>
				<option value="Т">Т</option>
				<option value="У">У</option>
				<option value="Ф">Ф</option>
				<option value="Х">Х</option>
				<option value="Ц">Ц</option>
				<option value="Ч">Ч</option>
			</select> <input class="btn btn-outline-secondary my-2 mr-sm-2" type="submit"
				value="Подтвердить" />
		</form>
	</div>
</body>
</html>