<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
	<div th:fragment="footer">
		<nav>
			<ul class="pagination d-flex justify-content-center">
				<li th:class="${curpage eq 1} ? 'page-item disabled' : 'page-item'">
					<a th:if="${not (1 eq curpage)}" class="page-link"
					th:href="@{/{p}(p=${curpage-1})}">Предыдущия</a> <span
					th:if="${1 eq curpage}" class="page-link">Предыдущия</span>
				</li>
				<li th:each="page : ${#numbers.sequence(1, pages)}"
					th:class="${curpage eq page}? 'active page-item' : 'page-item'">
					<a th:if="${not (curpage eq page)}" class="page-link"
					th:href="@{/{p}(p=${page})}" th:text="${page}"></a> <span
					th:if="${curpage eq page}" class="page-link active"
					th:text="${page}"></span>
				</li>
				<li
					th:class="${curpage eq pages} ? 'page-item disabled' : 'page-item'">
					<a th:if="${not (pages eq curpage)}" class="page-link"
					th:href="@{/{p}(p=${curpage+1})}">Следующая</a> <span
					th:if="${pages eq curpage}" class="page-link">Следующая</span>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>