<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div class="content-container" th:fragment="content">
		<div class="btn-group dropright">
			<button type="button" class="btn btn-secondary dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Фильтр</button>
			<div class="dropdown-menu">
				<div>
					<b>Жанры</b>
				</div>
				<div class="dropdown-item" th:each="genre : ${genres}">
					<a href="@{/sortByGenre}" th:text="${genre.id}"></a>
					<!-- <a th:href="@{'/books/show/'+${book.id}}"><img width="300px"
							height="420px" th:src="@{${'../images/'+book.background}}"></a> -->
				</div>
				<div>
					<b>Издатели</b>
				</div>
				<div class="dropdown-item" th:each="publisher : ${publishers}">
					<a href="#" th:text="${publisher.name}"></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg alert alert-dark" th:each="book : ${books}">
					<div>
						<a th:href="@{'/books/show/'+${book.id}}"><img width="300px"
							height="420px" th:src="@{${'../images/'+book.background}}"></a>
					</div>
					<div th:text="${book.name}"></div>
				<div th:text="${book.price}"></div> 
				<div>
					<th:block th:each="favorite : ${favorites}">
						<input id="h-1" type="checkbox"
							th:if="${book.id == favorite.idBook && 1 == favorite.idUser}"
							checked disabled />
						<label
							th:if="${book.id == favorite.idBook && 1 == favorite.idUser}"
							for="h-1">Эта книга в избранном</label>
					</th:block>
					<div>
						<a th:href="@{'/books/show/'+${book.id}}"><img width="300px" height="420px" th:src="@{${'../images/'+ book.background}}"></a>
					</div>
				<!-- 	<div th:text="${book.price}"></div>
					<div>
						<th:block th:each="favorite : ${favorites}">
							<input id="h-1" type="checkbox"
								th:if="${book.id == favorite.idBook && 1 == favorite.idUser}"
								checked disabled />
							<label
								th:if="${book.id == favorite.idBook && 1 == favorite.idUser}"
								for="h-1">Эта книга в избранном</label>
						</th:block>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/pagination :: footer">...</div>
	</div>
</body>
</html>