<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>О доставке</title>
</head>
<body>
	<div class="container" th:fragment="content">
		<h1>Доставка</h1>
		<h4>НОВАЯ ПОЧТА</h4>
		<span>Стоимость 45 грн, если сумма заказа от 888 грн –
			бесплатно! Доставляем в любое представительство компании "Нова Пошта"
			без предоплаты. Отправляем 7 дней в неделю без выходных! Срок
			доставки от 1 дня в 97.9 % случаев. ВАЖНО! Доставка товаров весом
			более 5 кг стоит дороже. Окончательная цена зависит от тарифов
			перевозчика.</span> <br>
		<h4>УКР ПОЧТА</h4>
		<span>Стоимость от 34 грн, если сумма заказа от 888 грн –
			бесплатно! Доставим в любой город Украины только по предварительной
			оплате. Доставка от 3-х до 15 дней. ВАЖНО! Доставка товаров весом
			более 5 кг стоит дороже. Окончательная цена зависит от тарифов
			перевозчика. </span>
	</div>
</body>
</html>