<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Book</title>
</head>
<div class="container" th:fragment="content">
	<h1>Изменить книгу</h1>
	<img th:src="@{${book.background}}"
		style="width: 248px; height: 350px" alt="icon">
	<form class="mt-3" name="editBook" th:action="@{/books/editBook}"
		method="post">
		<div class="form-group">
			<label for="name">Название книги</label> <input type="text"
				class="form-control" id="name" name="name" th:value="${book.name}">
		</div>
		<div class="form-group">
			<label for="цена">Цена книги</label> <input type="number" min="10000"
				class="form-control" id="price" name="price"
				aria-describedby="priceHelp" th:value="${book.price}"> <small
				id="priceHelp" class="form-text text-muted">Не меньше 10000
				(цена - в копейках)</small>
		</div>
		<div class="form-group">
			<label for="year">Год издания книги</label> <input type="number"
				min="1900" class="form-control" id="year" name="year"
				aria-describedby="yearHelp" th:value="${book.year}"> <small
				id="yearHelp" class="form-text text-muted">Не меньше 1900 и
				не больше текущего года</small>
		</div>
		<div class="form-group">
			<label for="publisher">Издатель книги</label> <select
				class="form-control" id="publisher" name="publisher">
				<option th:each="publisher : ${publishers}"
					th:value="${publisher.id}" th:text="${publisher.name}"
					th:selected="${book.publisher eq publisher}" />
			</select>
		</div>
		<a href="/publishers/add" class="form-group btn btn-primary mb-4">Жобавить
			нового издателя</a>
		<div class="form-group">
			<label for="authors">Автор(ы) книги</label> <select
				class="form-control selectpicker" multiple data-live-search="true"
				id="authors" name="authors">
				<option th:each="author : ${authors}" th:value="${author.id}"
					th:text="${author.name}"
					th:selected="${#lists.contains(book.authors, author)}"/>
			</select>
		</div>
		<a href="/authors/add" class="form-group btn btn-primary mb-4">Жобавить
			нового автора</a>
		<div class="form-group">
			<label for="genres">Жанр(ы) книги</label> <select
				class="form-control selectpicker" multiple data-live-search="true"
				id="genres" name="genres">
				<option th:each="genre : ${genres}" th:value="${genre.id}"
					th:text="${genre.name}"
					th:selected="${#lists.contains(book.genres, genre)}"/>
			</select>
		</div>
		<a href="/genres/add" class="form-group btn btn-primary mb-4">Жобавить
			новый жанр</a>
		<div class="form-group">
			<label for="image">Картинка книги</label> <input type="url"
				class="form-control" id="image" name="background" th:value="${book.background}">
		</div>
		<button type="submit" class="form-group btn btn-primary">Сохранить
			книгу</button>

		<script type="text/javascript">
			$('.selectpicker').selectpicker();
		</script>
	</form>
</div>
</body>
</html>