<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>О Оплате</title>
</head>
<body>
	<div style="height: 900px" th:fragment="content">
		<h1>Оплата</h1>
		<h4>НА РАСЧЕТНЫЙ СЧЕТ В ЛЮБОМ БАНКЕ УКРАИНЫ</h4>
		<span>Вы можете оплатить заказ через отделение абсолютно любого
			банка Украины. Реквизиты предоставит менеджер. Назначение платежа:
			Оплата заказа №00000, где «00000» - № Вашего заказа. Сроки зачисления
			денег: Через ПриватБанк деньги зачисляются в течение текущего дня
			(при оплате с 9-00 до 15-00). Через другой банк Украины зачисление -
			1 рабочий день, иногда до 3-х рабочих дней. Через «Ощадбанк»
			зачисление денег происходит в течение 1-5 рабочих дней.</span> <br>
		<h4>НОВА ПОШТА (НАЛОЖЕННЫЙ ПЛАТЕЖ)</h4>
		<span>Вы можете оплатить свой заказ в любом отделении компании
			"Нова Пошта" при получении. В случае оплаты через Наложенный платеж -
			компания "Нова Пошта" возьмет с Вас дополнительную комиссию в размере
			20 грн за услугу "Денежный перевод" и 2 % комиссии от его стоимости
			всего заказа. Внимание! На некоторые заказы действует временное
			правило частичной предоплаты. Под это правило подпадают заказы, в
			которых есть дорогие товары или товары с удаленных складов (регионы
			Украины, Европа, США и т.д.). Это вынужденная мера в связи с большим
			количеством отказов без объяснения причин со стороны клиентов, а
			также шуточных заказов.</span>
	</div>
</body>
</html>